<div class="container announcements-block">
  <h1 class="page-title">Announcements</h1>
  <div class="announcements-content main-content">
    <ul class="reset-list">
      <li class="item">
        <div>
          <h4 class="title">{{#link-to 'announcement' 567}}Policy Updated{{/link-to}}</h4>
          <div class="meta"><a href="#">John doe</a> posted at 10 min ago.</div>
        </div>
      </li>
      <li class="item">
        <div>
          <h4 class="title">New iOS app launched</h4>
          <div class="meta"><a href="#">John doe</a> posted at 10 min ago.</div>
        </div>
      </li>
      <li class="item">
        <div>
          <h4 class="title">From HR desk</h4>
          <div class="meta"><a href="#">John doe</a> posted at 10 min ago.</div>
        </div>
      </li>
    </ul>
  </div>
</div>
{{outlet}}
