body {
  padding-top: 80px;
  background: #ede6cf url(/images/bg.gif) repeat 0 0;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-padding {
  padding: 0;
}
.no-right-padding {
  padding-right: 0;
}
.no-left-padding {
  padding-left: 0;
}


/* Page level */
.page-title {
  margin-top: 0;
  font-size: 2em;
}
.main-content {
  background-color: #FFF;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.issue-meta-list {
    li {
      display: inline-block;
      margin-right: 5px;
      &:before{
        content:'\00B7';
        padding-left: 2px;
        padding-right:7px;
      }
      &:first-child:before {
        content: '';
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

/* Page level ends */
