<div class="project-block-full">
  <div class="container">
    <h1 class="page-title">Website Redesign</h1>
    <p class="project-desc">Complete rewrite from ground level.</p>
  </div>
</div>
<div class="container project-block">
  <h1 class="page-title hide">Website Redesign</h1>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3 feature-tile">
        <div class="title">Tasks</div>
        <div class="content"></div>
      </div>
      <div class="col-md-3 feature-tile">
        <div class="title">To-Do's</div>
        <div class="content"></div>
      </div>
      <div class="col-md-3 feature-tile">
        <div class="title">Calender</div>
        <div class="content"></div>
      </div>
      <div class="col-md-3 feature-tile">
        <div class="title">{{#link-to 'project.announcements' 123}}Announcements{{/link-to}}</div>
        <div class="content"></div>
      </div>
      <div class="col-md-3 feature-tile">
        <div class="title">Wiki</div>
        <div class="content"></div>
      </div>
      <div class="col-md-3 feature-tile">
        <div class="title">{{#link-to "project.issues" 123}}Issues{{/link-to}}</div>
        <div class="content"></div>
      </div>
      <div class="col-md-3 feature-tile">
        <div class="title">Check-ins</div>
        <div class="content"></div>
      </div>
      <div class="col-md-3 feature-tile">
        <div class="title">Docs</div>
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
