.issue-block {
  .issue-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .issue-meta {

  }
  .issue-description {
    background-color: #FFF;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    min-height: 100px;
    padding: 10px;
  }
  .meta-list {
    li {
      border-bottom: 1px solid #ddd;
      padding: 10px 0;

      &:first-child {
        padding-top: 0;
      }
    }
    .meta-list-header {
      font-weight: bold;
      padding-bottom: 5px;
      color: #444;
    }
    .meta-label {
      font-size: 0.9em;
      float: left;
      margin-right: 7px;
      margin-bottom: 8px;
    }
    .issue-participant-img img {
      border-radius: 50%;
      margin-right: -15px;
      &:hover {
        box-shadow: 1px 1px 1px 0px #888;
        margin-right: 0px !important;
      }
    }
  }

  .issue-meta-list {
    li {
      display: inline-block;
      margin-right: 5px;
      &:before{
        content:'\00B7';
        padding-left: 2px;
        padding-right:7px;
      }
      &:first-child:before {
        content: '';
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .comments {
    margin-top: 20px;
  }
  .comment {
    overflow: hidden;
    padding: 0 0 1em;
    /* border-bottom: 1px solid #ddd; */
    margin: 0 0 1em;
    *zoom: 1;
  }

  .comment-img {
      float: left;
      margin-right: 33px;
      border-radius: 5px;
      overflow: hidden;
  }

  .comment-img img {
      display: block;
  }

  .comment-body {
      overflow: hidden;
  }

  .comment .text {
      padding: 10px;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      background: #fff;
  }

  .comment .text p:last-child {
      margin: 0;
  }

  .comment .attribution {
      margin: 0.5em 0 0;
      font-size: 11px;
      color: #666;
  }

  /* Decoration */

  .comments,
  .comment {
      position: relative;
  }

  .comments:before,
  .comment:before,
  .comment .text:before {
      content: "";
      position: absolute;
      top: 0;
      left: 65px;
  }

  .comments:before {
      width: 3px;
      top: -20px;
      /* bottom: -20px; */
      bottom: 115px;
      background: rgba(0,0,0,0.1);
  }

  .comment:before {
      width: 12px;
      height: 12px;
      border: 3px solid #fff;
      border-radius: 100px;
      margin: 16px 0 0 -4px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
      background: #ccc;
  }

  .comment:hover:before {
      background: orange;
  }

  .comment .text:before {
      top: 18px;
      left: 78px;
      width: 9px;
      height: 9px;
      border-width: 0 0 1px 1px;
      border-style: solid;
      border-color: #e5e5e5;
      background: #fff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
  }
}
