.login-wrapper {
  background-color: #FFF;
  border: 1px solid #DDD;
  padding: 20px 15px;
  margin: 0 auto;
  float: none;
}

.remember-checkbox, .forgot-password-link {
  margin-top: 5px;
  margin-bottom: 15px;
}
