<div class="container">
  <h1>Projects</h1>
  <div class="projects-wrapper">
    <div class="project-box col-md-3 col-xs-4">
      <div class="project-name">{{#link-to 'project' 123}}Project{{/link-to}}</div>
      <div class="project-description">Description goes here</div>
      <div class="project-meta">
        <span class="project-lead"><a href="#">John Doe</a></span>
      </div>
    </div>
  </div>
</div>

{{outlet}}
