<div class="container issue-block">
  <div class="row issue-header">
    <div class="col-md-10 no-padding">
      <h1 class="page-title">Browser compatibility</h1>
      <div class="issue-meta">
        <span><a href="#">John doe</a> opened this issue 7 days ago</span>
        <span>23 Comments</span>
      </div>
    </div>
    <div class="col-md-2 no-padding">
      <button class="btn btn-success pull-right">New issue</button>
    </div>
  </div>
  <div class="row issue-content">
    <div class="col-md-9 no-padding">
      <div class="issue-description">
        <p>Description goes here</p>
      </div>
    </div>
    <div class="col-md-3 no-right-padding">
      <ul class="reset-list meta-list">
        <li>
          Assigned
        </li>
        <li>
          Labels
          <div class="label label-success">Enhancement</div>
          <div class="label label-warning">Urgent</div>
        </li>
      </ul>
    </div>
  </div>
</div>
