<div class="container">
  <h1>Projects</h1>
  <div class="projects-wrapper">
    <div class="project-box col-md-3 col-xs-4">
      <div class="project-name">Project </div>
      <div class="project-name">Description goes here</div>
      <div class="project-meta">Project </div>
    </div>
    <div class="project-box col-md-3 col-xs-4">
      <div class="project-name">Project </div>
      <div class="project-name">Description goes here</div>
      <div class="project-meta">Project </div>
    </div>
    <div class="project-box col-md-3 col-xs-4">
      <div class="project-name">Project </div>
      <div class="project-name">Description goes here</div>
      <div class="project-meta">Project </div>
    </div>
    <div class="project-box col-md-3 col-xs-4">
      <div class="project-name">Project </div>
      <div class="project-name">Description goes here</div>
      <div class="project-meta">Project </div>
    </div>
    <div class="project-box col-md-3 col-xs-4">
      <div class="project-name">Project </div>
      <div class="project-name">Description goes here</div>
      <div class="project-meta">Project </div>
    </div>
    <div class="project-box col-md-3 col-xs-4">
      <div class="project-name">Project </div>
      <div class="project-name">Description goes here</div>
      <div class="project-meta">Project </div>
    </div>
    <div class="project-box col-md-3 col-xs-4">
      <div class="project-name">Project </div>
      <div class="project-name">Description goes here</div>
      <div class="project-meta">Project </div>
    </div>
  </div>
</div>